/* Global Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Header Styles */
  header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  .intro{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p-links{
    width: 50vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

  
  h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav a {
    display: block;
    padding: 10px;
  }
  
  /* Main Styles */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 1.8em;
    margin-top: 0;
    border-bottom:3px solid #333;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .project img {
    max-width: 100%;
  }
  
  .project h3 {
    margin: 10px 0;
  }
  
  .project p {
    margin: 0;
  }
  
  /* Footer Styles */
  footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  